node_modules/
dist/
build/
coverage/
*.tsbuildinfo

.env
.env.local
.env.*.local
!.env.example

logs/
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
Thumbs.db

prisma/migrations/dev_*/
.nyc_output/
